*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: "DM serif display", sans-serif;
    font-family: "Public sans", sans-serif;
    background: #EDF3F8;
}

img{
    object-fit: cover;
}