.about-section {
    padding: 20px 50px 100px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-color: #C71585;
}

.wrapper {
    position: relative;
}

#date {
    color: white;
    text-align: center;
    font-size: 2em;
}

#time {
    position: absolute;
    top: 110%;
    z-index: 55;
    color: white;
    text-align: center;
    font-size: 3em;
}

.about__title {
    position: relative;
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 32px;
    text-align: center;
}