.site-header {
    margin: 0;
    padding: 0;
}

.header {
    position: relative;
    margin: 0;
    padding: 40px 0 74px 0;
    max-width: 1110px;
    @include space;
}

.header__logo--link {
    text-decoration: none;
}

.header__content {
    margin: 0;
    padding: 0;
    @include space;
}

.header__list {
    margin: 0 0 0 64px;
    padding: 0;
    @include space;
    list-style: none;
    gap: 40px;
}

.header__item--link {
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    color: #36536B;
    opacity: 0.7;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
}

.header__item--link:hover {
    opacity: 1;
}

.hamburger__link {
    display: none;
}

.header__sign--link {
    @include btn;
}

.header__sign--link:hover {
    background: #DA6D97;
}

.header__sign--link:hover {
    background: #DA6D97;
}

.header__sign--link:active {
    background: #BA4270;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

@media screen and(max-width:710px) {
    .header__list {
        display: none;
    }

    .hamburger__link {
        display: block;
    }

    .header__sign--link {
        display: none;
    }
}