.site-service {
    margin: 0;
    padding: 0;
}

.service {
    margin: 0;
    padding: 0;
    max-width: 1110px;
    @include column;
}

.service__list {
    margin: 0;
    padding: 0;
    max-width: 1110px;
    @include space;
    align-items: flex-start;
    list-style: none;
    gap: 30px;
}

.service__item {
    margin: 0;
    padding: 0;
    max-width: 341px;
    @include column;
}

.item__title {
    margin: 32px 0 16px 0;
    padding: 0;
    @include font(18px, 25px, 700, 'Public Sans');
    text-align: center;
    letter-spacing: -0.138462px;
    color: #36536B;
}
.service__img{
    transition: all 0.4s ease-in-out;
}
.service__img:hover{
    transform: scale(1.1);
    overflow: hidden;
}
.item__text {
    margin: 0;
    padding: 0;
    @include font(15px, 25px, 400, 'Public Sans');
    text-align: center;
    letter-spacing: -0.115385px;
    color: #6C8294;
}
@media screen and(max-width:1020px) {
    .service__list{
        width: 100%;
    }
    .service__item{
        width: 33.3%;
    }
}
@media screen and(max-width:820px) {
    .service__list{
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: center;
    }
    .service__item{
        width: 40%;
    }
}
@media screen and(max-width:640px) {
    .service__list{
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .service__item{
        width: 100%;
    }
}